@import "vars.scss";

/*Block*/
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/user.scss";
@import "blocks/nav.scss";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: $black;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}
