@import "vars.scss";

/*Block*/
@import "blocks/_container.scss";
@import "blocks/_header.scss";
@import "blocks/_user.scss";
@import "blocks/_nav.scss";
@import "blocks/_intro.scss";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}
